POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="postgre"
POSTGRES_DATABASE="cdlmtypepostgres"
POSTGRES_SSL="false"
JWT_SECRET="123456478789784ADDSGADGAF234"